{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"trailingComma": "es5",
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^@/components/(.*)$",
		"^@/screens/(.*)$",
		"^@/ui/(.*)$",
		"^@/providers/(.*)$",
		"^@/pages/(.*)$",
		"^@/shared/(.*)$",
		"^../(.*)",
		"^./(.*)",
		"(.scss)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
