@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--primary: rgb(24 24 27);
	--secondary: rgb(29 78 216);
}

html {
	@apply scrollbar-thin scrollbar-thumb-gray-700 scrollbar-track-gray-800;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: #fff;
	background: #030712;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
