{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": ["^(express|cors|multer|path|uuid)$", "^@?\\w", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
