.wrap {
	@apply flex flex-col gap-5;
}

.buttonWrap {
	@apply flex gap-4;

	> button,
	a {
		@apply bg-transparent border-none flex items-center gap-2;

		> svg {
			@apply fill-white size-6;
			transition: fill 0.3s ease;
		}

		> span {
			@apply text-zinc-400;
		}

		&.activeLike {
			> svg {
				fill: red !important;
			}
		}

		&.activeRetweet {
			> svg {
				fill: #2563eb !important;
			}
		}

		&:disabled {
			@apply cursor-not-allowed;
			> svg {
				@apply cursor-not-allowed;
			}
		}
	}
}
